* {
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
}

div {
    background: lightblue;
    margin: 2em;
    padding: 2em;
    border: 2px solid black;
    width: 100%;
    
}

.demo {
    background: #2A7B9B;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 52%, rgba(237, 221, 83, 1) 100%);
    margin: 2em;
    padding: 3em;
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}